<h1>Zheye</h1>
<p>Welcome to Zheye!</p>
<ul class="nav navbar-nav pull-right">
    <% if current_user %>
        <li><span><%= current_user.login %></span></li>
        <li><%= link_to 'Sign Out', sign_out_path, method: :delete %></li>
    <% else %>
        <li><%= link_to 'Sign In', sign_in_path %></li>
    <% end %>
</ul>
<p>Sign up to get started.</p>
<p>
    <%= link_to new_user_path, class: 'btn btn-primary btn-lg' do %>
        Sign Up &raquo;
    <% end %>
</p>
